//============================================================
//
//	mame.rc - Minimal resource file for Win32 MAME
//
//============================================================
//
//  Copyright Aaron Giles
//  All rights reserved.
//
//  Redistribution and use in source and binary forms, with or 
//  without modification, are permitted provided that the 
//  following conditions are met:
//
//    * Redistributions of source code must retain the above 
//      copyright notice, this list of conditions and the 
//      following disclaimer.
//	  * Redistributions in binary form must reproduce the 
//      above copyright notice, this list of conditions and 
//      the following disclaimer in the documentation and/or 
//      other materials provided with the distribution.
//	  * Neither the name 'MAME' nor the names of its 
//      contributors may be used to endorse or promote 
//      products derived from this software without specific 
//      prior written permission.
//
//  THIS SOFTWARE IS PROVIDED BY AARON GILES ''AS IS'' AND 
//  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT 
//  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND 
//  FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO 
//  EVENT SHALL AARON GILES BE LIABLE FOR ANY DIRECT, 
//  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL 
//  DAMAGE (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF 
//  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR 
//  PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON 
//  ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT 
//  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
//  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN 
//  IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
//
//============================================================

//#define NOWINRES
#include "windows.h"
#include "commctrl.h"
#include "resource.h"
#include "mamevers.rc"

1                       24      MOVEABLE PURE   "mame.man"

IDD_LUA DIALOGEX 0, 0, 270, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUP | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Lua Script"
MENU LUAWINDOW_MENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    PUSHBUTTON      "Browse...",IDC_BUTTON_LUABROWSE,7,31,48,16
    PUSHBUTTON      "Run",IDC_BUTTON_LUARUN,213,31,50,16
    PUSHBUTTON      "Stop",IDC_BUTTON_LUASTOP,160,31,50,16
    EDITTEXT        IDC_EDIT_LUAPATH,7,16,256,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_LUACONSOLE,7,61,256,81,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
    LTEXT           "Output Console",IDC_STATIC,7,51,51,8
    LTEXT           "Script File",IDC_STATIC,7,7,32,8
    PUSHBUTTON      "Edit",IDC_BUTTON_LUAEDIT,58,31,46,16
END

IDD_RAMSEARCH DIALOGEX 0, 0, 287, 292
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION " RAM Search"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_RAMLIST,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | LVS_OWNERDATA | WS_BORDER | WS_TABSTOP,9,9,214,151,WS_EX_CLIENTEDGE
    PUSHBUTTON      "&Search",IDC_C_SEARCH,226,9,52,16
    PUSHBUTTON      "&Watch",IDC_C_WATCH,226,127,52,16
    PUSHBUTTON      "&Reset",IDC_C_RESET,226,27,52,16
    PUSHBUTTON      "&Eliminate",IDC_C_ELIMINATE,226,109,52,16
    GROUPBOX        "Comparison Operator",IDC_STATIC,10,166,102,118,0,WS_EX_TRANSPARENT
    CONTROL         "Less Than",IDC_LESSTHAN,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,14,178,95,11
    CONTROL         "Greater Than",IDC_MORETHAN,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,14,191,95,11
    CONTROL         "Less Than or Equal To",IDC_NOMORETHAN,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,14,204,95,11
    CONTROL         "Greater Than or Equal To",IDC_NOLESSTHAN,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,14,217,95,11
    CONTROL         "Equal To",IDC_EQUALTO,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,14,230,95,11
    CONTROL         "Not Equal To",IDC_DIFFERENTFROM,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,14,243,95,11
    CONTROL         "Different By:",IDC_DIFFERENTBY,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,14,256,52,11
    CONTROL         "Modulo",IDC_MODULO,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,14,269,35,11
    EDITTEXT        IDC_EDIT_DIFFBY,69,255,38,12,ES_UPPERCASE | ES_AUTOHSCROLL | WS_DISABLED
    EDITTEXT        IDC_EDIT_MODBY,51,267,38,12,ES_UPPERCASE | ES_AUTOHSCROLL | WS_DISABLED
    GROUPBOX        "Compare To / By",IDC_STATIC,118,166,153,58,0,WS_EX_TRANSPARENT
    CONTROL         "Previous Value",IDC_PREVIOUSVALUE,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,121,176,67,10
    CONTROL         "Specific Value:",IDC_SPECIFICVALUE,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,121,187,67,10
    CONTROL         "Specific Address:",IDC_SPECIFICADDRESS,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,121,198,67,10
    CONTROL         "Number of Changes:",IDC_NUMBEROFCHANGES,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,121,209,76,10
    EDITTEXT        IDC_EDIT_COMPAREVALUE,203,183,63,12,ES_UPPERCASE | ES_AUTOHSCROLL | WS_DISABLED
    EDITTEXT        IDC_EDIT_COMPAREADDRESS,203,195,63,12,ES_UPPERCASE | ES_AUTOHSCROLL | WS_DISABLED
    EDITTEXT        IDC_EDIT_COMPARECHANGES,203,207,63,12,ES_UPPERCASE | ES_AUTOHSCROLL | WS_DISABLED
    GROUPBOX        "Data Type / Display",IDC_STATIC,196,227,75,44,0,WS_EX_TRANSPARENT
    CONTROL         "Signed",IDC_SIGNED,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,200,237,67,9
    CONTROL         "Unsigned",IDC_UNSIGNED,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,200,248,67,9
    CONTROL         "Hexadecimal",IDC_HEX,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,200,259,67,9
    CONTROL         "Autosearch",IDC_C_AUTOSEARCH,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,200,273,52,11
    GROUPBOX        "Data Size",IDC_STATIC,117,227,73,57,0,WS_EX_TRANSPARENT
    CONTROL         "1 byte",IDC_1_BYTE,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,121,237,61,11
    CONTROL         "2 bytes",IDC_2_BYTES,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,121,248,61,11
    CONTROL         "4 bytes",IDC_4_BYTES,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,121,259,61,11
    CONTROL         "Check Misaligned",IDC_MISALIGN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,121,272,65,8
    PUSHBUTTON      "&Clear Change Counts",IDC_C_RESET_CHANGES,226,46,52,20,BS_MULTILINE
    PUSHBUTTON      "&Undo",IDC_C_UNDO,226,69,52,16,WS_DISABLED
    LTEXT           "Is",IDC_STATIC,92,270,12,8
END

IDD_RAMWATCH DIALOGEX 0, 0, 269, 298
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION " RAM Watch"
MENU RAMWATCH_MENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN   CONTROL         "",IDC_WATCHLIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_OWNERDATA | WS_BORDER | WS_TABSTOP,9,9,210,279,WS_EX_CLIENTEDGE
    PUSHBUTTON      "Edit",IDC_C_WATCH_EDIT,226,66,34,14
    PUSHBUTTON      "Remove",IDC_C_WATCH_REMOVE,226,83,34,14
    PUSHBUTTON      "New",IDC_C_WATCH,226,100,34,14
    PUSHBUTTON      "Duplicate",IDC_C_WATCH_DUPLICATE,226,117,34,14
    GROUPBOX        "Watches",IDC_STATIC,222,11,42,125
    CONTROL         "",ID_WATCHES_UPDOWN,"msctls_updown32",WS_TABSTOP,232,23,19,36
END

IDD_EDITWATCH DIALOGEX 0, 0, 181, 95
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION " Edit Watch"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CTEXT           "Address:",IDC_SPECIFICADDRESS,18,12,35,10
    EDITTEXT        IDC_EDIT_COMPAREADDRESS,55,10,65,12,ES_UPPERCASE | ES_AUTOHSCROLL
    CTEXT           "Notes:",IDC_PROMPT_TEXT,18,24,45,10
    EDITTEXT        IDC_PROMPT_EDIT,55,22,65,12,ES_AUTOHSCROLL
    GROUPBOX        "Data Type",IDC_STATIC,14,37,75,42,0,WS_EX_TRANSPARENT
    CONTROL         "&Signed",IDC_SIGNED,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,18,47,67,9
    CONTROL         "&Unsigned",IDC_UNSIGNED,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,18,57,67,9
    CONTROL         "&Hexadecimal",IDC_HEX,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,18,67,67,9
    GROUPBOX        "Data Size",IDC_STATIC,94,37,73,42,0,WS_EX_TRANSPARENT
    CONTROL         "&1 byte",IDC_1_BYTE,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,98,47,61,11
    CONTROL         "&2 bytes",IDC_2_BYTES,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,98,57,61,11
    CONTROL         "&4 bytes",IDC_4_BYTES,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,98,67,61,11
    DEFPUSHBUTTON   "&OK",IDOK,66,80,50,14
    PUSHBUTTON      "&Cancel",IDCANCEL,120,80,50,14
END

IDD_PROMPT DIALOG  0, 0, 186, 68
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Input Prompt"
FONT 8, "Ms Shell Dlg 2"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,100,43,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,37,42,50,14
    EDITTEXT        IDC_PROMPT_EDIT,10,15,167,14,ES_AUTOHSCROLL
END

LUAWINDOW_MENU MENU
BEGIN
	POPUP "Console"
	BEGIN
		MENUITEM "&Font...",                    IDC_LUACONSOLE_CHOOSEFONT
		MENUITEM "Clear",                       IDC_LUACONSOLE_CLEAR
	END
END

RAMWATCH_MENU MENU 
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "&New list",           RAMMENU_FILE_NEW
        MENUITEM "&Open...",            RAMMENU_FILE_OPEN
        MENUITEM "&Save",               RAMMENU_FILE_SAVE
        MENUITEM "Sa&ve As...",   RAMMENU_FILE_SAVEAS
        MENUITEM "&Append file...",             RAMMENU_FILE_APPEND
        MENUITEM "Recent",                      RAMMENU_FILE_RECENT
        MENUITEM SEPARATOR
        MENUITEM "Auto-&load",                  RAMMENU_FILE_AUTOLOAD
        MENUITEM "Save Window Position",        RAMMENU_FILE_SAVEWINDOW
        MENUITEM SEPARATOR
        MENUITEM "&Close",              IDCANCEL
    END
    POPUP "Watches"
    BEGIN
        MENUITEM "&New Watch",               IDC_C_WATCH
        MENUITEM "&Edit Watch",              IDC_C_WATCH_EDIT
        MENUITEM "&Remove Watch",            IDC_C_WATCH_REMOVE
        MENUITEM "Duplicate Watch",          IDC_C_WATCH_DUPLICATE
        MENUITEM SEPARATOR
        MENUITEM "Move Up",                  IDC_C_WATCH_UP
        MENUITEM "Move Down",                IDC_C_WATCH_DOWN
    END
END

IDD_REPLAYINP DIALOG DISCARDABLE  0, 0, 276, 137
STYLE DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU
CAPTION "Replay input"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,219,120,50,14
    GROUPBOX        "",IDC_STATIC,3,0,269,115
    RTEXT           "File:",IDC_STATIC,8,11,24,10,SS_CENTERIMAGE
    COMBOBOX        IDC_CHOOSE_LIST,35,10,231,128,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Cancel",IDCANCEL,165,120,50,14
    RTEXT           "Length:",IDC_STATIC,10,44,59,8
    RTEXT           "Frames:",IDC_STATIC,10,53,59,8
    RTEXT           "Undo Count:",IDC_STATIC,10,62,59,8
//    RTEXT           "Author Info:",IDC_STATIC,10,71,59,8
//    RTEXT           "Recorded From:",IDC_STATIC,10,80,59,8
    LTEXT           "00:00:00",IDC_LENGTH,76,44,59,8
    LTEXT           "0",IDC_FRAMES,76,53,59,8
    LTEXT           "0",IDC_UNDO,76,62,59,8
//    LTEXT           "",IDC_METADATA,76,71,190,37
//    LTEXT           "",IDC_REPLAYRESET,76,80,190,37
    CONTROL         "Open Read-Only",IDC_READONLY,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,35,25,69,10
END

IDD_RECORDINP DIALOG DISCARDABLE  0, 0, 276, 98
STYLE DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU
CAPTION "Record input"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,219,79,50,14
    GROUPBOX        "",-1,3,0,269,73
    RTEXT           "File:",-1,26,11,24,10,SS_CENTERIMAGE
    PUSHBUTTON      "Cancel",IDCANCEL,165,79,50,14
//    RTEXT           "Author Info:",-1,10,30,40,8
    EDITTEXT        IDC_FILENAME,55,10,189,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BROWSE,249,10,18,14
//    EDITTEXT        IDC_METADATA,55,30,189,37,ES_AUTOHSCROLL
//    CONTROL         "Record From Power-On",IDC_REPLAYRESET,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,55,79,106,14
END
